<ion-view view-title="<div class='unsnow-title'>unSnow.me<img src='img/header_logo.png' class='img'></div>">
    
    <ion-header-bar class="bar bar-stable bar-subheader">
        <h1 class="title">
            Add Job
        </h1>
    </ion-header-bar>
    
    <ion-content scroll="false">
        
        
        <div class="unsnow-content-container manage-my-jobs">
            <div class="padding top-container">
                <img src='img/unsnow-me-icon.png' class="img">
                <div class="headline2">Create or load already saved job</div>
            </div>

            <div class="padding bottom-buttons">
                <div class="btn-container">
                    <a class="button button-block button-positive" href="#/app/add-job/0">
                        <img src='img/add_job_icon.png' class='unsnow-btn-icon'>
                        Create New Job
                    </a>
                </div>
                <div class="btn-container">
                    <a class="button button-block button-dark" href="#/app/my-saved-jobs">
                        <img src='img/my_jobs_icon.png' class='unsnow-btn-icon'>
                        Load Saved Jobs
                    </a>
                </div>
            </div>
        </div>

    </ion-content>


  </ion-view>