<ion-view view-title="<div class='unsnow-title'>unSnow.me<img src='img/header_logo.png' class='img'></div>">
    
    <ion-header-bar class="bar bar-stable bar-subheader" hide-on-scroll="true">
        <h1 class="title">Add Job</h1>
    </ion-header-bar>
    
    <ion-content class="has-header">
      
        <div class="add-job-step1 unsnow-subheader-space">
            
            <div class="padding">
                <div id="map" class="map">


                </div>
                <div class="note1 unsnow-note">
                    <span class="bold">Note:</span> Address location is not disclosed until job is awarded.
                </div>
            </div>

            <div class="padding">
                <a class="button button-block button-dark" ng-click="back()">
                    <span>Back</span>
                </a>
            </div>
            
            <div class="padding">
                <a class="button button-block button-dark" ng-click="next()">
                    <span>Next</span>
                </a>
            </div>
        </div>

    </ion-content>


  </ion-view>