<div class="list">
    
    <div>
        <span class="add-form-static-bold">Award Job for 1 Credit?</span>
    </div>
    <div class="padding">
        You must award the job to the bidder in order to release the snow removal job location. In doing so your account will be charged 1 credit. If you do not have any credits available you can use the link below to add more
    </div>
    <div class="add-form-seperator"></div>
    
    <div>
        <span class="add-form-static-bold" style="width: 65%; float: left;">Available Credits - 
            <span class="add-form-static-normal" style="display: inline; padding-left: 0;">{{user.userCredit}}</span> 
        </span>
        <span class="add-form-static-bold">
            <a class="button button-dark" style="display: inline; font-size: 13px; text-transform: none; padding-left: 5px; padding-right: 5px; line-height: 21px; padding-top: 5px; padding-bottom: 5px; text-align: center" ng-click="buyMoreCredit()">Add Credits</a>
        </span>
    </div>
    <div class="add-form-seperator"></div>
     
    <div class="padding" style="font-family: 'Lato-Regular';">Please note that the awarded bid amount is to be paid directly to the snow removal service provider.
    </div>

</div>