<ion-view view-title="<div class='unsnow-title'>unSnow.me<img src='img/header_logo.png' class='img'></div>">
    
    <ion-header-bar class="bar bar-stable bar-subheader">
        <h1 class="title">Bids</h1>
    </ion-header-bar>
    
    <ion-content class="my-bids">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        
        <div class="padding unsnow-note" ng-show="isBidsAvailable()" style="text-align: center">There are no bids available.</div>
        
        
        <div class="list card unsnow-job-item" ng-repeat="bid in bids">
            
            <div class="item item-divider header">
                <div class="row">
                    <div class="col job-id">{{bid.attributes.job_id.attributes.unsnow_job_id}}</div>
                    <div class="col col-75 job-date">
                        <div>{{bid.attributes.job_id.attributes.createdAt | date:'MMMM  dd, yyyy'}}</div>
                        <div>{{bid.attributes.job_id.attributes.city}}, {{bid.attributes.job_id.attributes.state}}</div>
                    </div>
                </div>
            </div>
            <div class="item">
                
                <div class="row border-seperator">
                    <div class="col col-75">
                        
                        <div class="row">
                            <div class="col col1">Bid Status</div>
                            <div class="col col2">{{bid.attributes.bid_status}}</div>
                        </div>
                        <div class="row">
                            <div class="col col1">Bid Amount</div>
                            <div class="col col2">${{bid.attributes.bid_amount}}</div>
                        </div>
                        <div class="row">
                            <div class="col col1">Bid Date</div>
                            <div class="col col2">{{bid.attributes.createdAt | date:'MMMM  dd, yyyy'}}</div>
                        </div>
                        <div class="row">
                            <div class="col col1">Completed By</div>
                            <div class="col col2">
                                {{bid.attributes.completed_by | date:'MMMM  dd, yyyy'}}
                                <br />
                                {{bid.attributes.completed_by_time}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col1">User Rating</div>
                            <div class="col col2" style="text-align: left">
                                <div class="rem-bottom-padding-rating"><ionic-ratings ratingsobj='bid.fiveStarObj'></ionic-ratings></div>
                                <div></div>
                            </div>

                        </div>
                    
                    </div>
                    <div class="col amount-col">
                        <div class="amount">${{bid.attributes.job_id.attributes.job_budget}}</div>
                        <div class="job-status">{{bid.attributes.job_id.attributes.job_status}}</div>
                    </div>
                </div>
                
                <p ng-show="bid.attributes.bid_status == 'REJECTED'" style="color: red">You have rejected this bid.</p>
                
                <div class="row" ng-show="bid.attributes.bid_status == 'NOT RESPONDED'">
                    <div class="col">
                        <a class="button button-block button-dark" ng-click="showAcceptBid(bid)">
                            <i class="icon ion-checkmark-circled"></i>
                            Accept
                        </a>
                    </div>
                    <div class="col colbtn">
                        <a class="button button-block button-positive" ng-click="rejectBid(bid)">
                            <i class="icon ion-close-circled"></i>
                            Reject
                        </a>
                    </div>
                </div>
                
            </div>
 
        </div>
        
<!--
        <div class="list card unsnow-job" ng-repeat="bid in bids">

            <div class="item">
                <p><i class="icon ion-android-contact"></i> User Id: {{bid.attributes.submittedBy.id}}</p>
                <p><i class="icon ion-star"></i> User Rating: 0</p>
                <p><i class="icon ion-social-usd"></i> Amount: ${{bid.attributes.bid_amount}}</p>
                <p><i class="icon ion-android-calendar"></i> Bid Posted Date: {{bid.attributes.createdAt | date:'MMMM  dd, yyyy'}}</p>
                <p ng-show="bid.attributes.bid_status == 'ACCEPTED'" style="color: green">You have {{bid.attributes.bid_status}} this bid.</p>
                <p ng-show="bid.attributes.bid_status == 'REJECTED'" style="color: red">You have {{bid.attributes.bid_status}} this bid.</p>
            </div>
            
            <div class="item tabs tabs-secondary tabs-icon-left" ng-show="bid.attributes.bid_status == 'NOT RESPONDED'">
                <a class="tab-item" ng-click="showAcceptBid(bid)">
                    <i class="icon ion-checkmark-circled"></i>
                    Accept Bid
                </a>
                <a class="tab-item" ng-click="rejectBid(bid)">
                  <i class="icon ion-close-circled"></i>
                    Reject Bid
                </a>
            </div>

        </div>
-->
        
        

    </ion-content>


  </ion-view>