<ion-view view-title="<div class='unsnow-title'>unSnow.me<img src='img/header_logo.png' class='img'></div>">
    
    
    <ion-nav-bar class="bar-dark">
      	<ion-nav-back-button>
      	</ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-header-bar class="bar bar-stable bar-subheader">
        <h1 class="title">Forgot Password</h1>
    </ion-header-bar> 
    
    <ion-content>
        
        <div class="list unsnow-subheader-space">
            <label class="item item-input">
                <input type="email" placeholder="* Email" ng-model="forgot.email" ng-required="true">
            </label>
        </div>
        
        <div class="padding">
            <a class="button button-block button-dark" ng-click="resetPassword()">
                Reset Password
            </a>
        </div>

    </ion-content>


  </ion-view>