<div class="list">
    
    <div class="item item-button-right">
        {{inAppPurchase.item1.description}}
        <button class="button button-positive" style="font-size: 11px; line-height: 11px;" ng-click="makePurchase('unsnow_1')">
            {{inAppPurchase.item1.price}}
        </button>
    </div>
    
    <div class="item item-button-right">
        {{inAppPurchase.item3.description}}
        <button class="button button-positive" style="font-size: 11px; line-height: 11px;" ng-click="makePurchase('unsnow_3')">
            {{inAppPurchase.item3.price}}
        </button>
    </div>
    
    <div class="item item-button-right">
        {{inAppPurchase.item5.description}}
        <button class="button button-positive" style="font-size: 11px; line-height: 11px;" ng-click="makePurchase('unsnow_5')">
            {{inAppPurchase.item5.price}}
        </button>
    </div>
    
    <div class="item item-button-right">
        {{inAppPurchase.item10.description}}
        <button class="button button-positive" style="font-size: 11px; line-height: 11px;" ng-click="makePurchase('unsnow_10')">
            {{inAppPurchase.item10.price}}
        </button>
    </div>

</div>