<ion-view view-title="<div class='unsnow-title'>unSnow.me<img src='img/header_logo.png' class='img'></div>">
    
    <ion-header-bar class="bar bar-stable bar-subheader">
        <h1 class="title">Your Saved Jobs</h1>
    </ion-header-bar>
    
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-plus-circled" href="#/app/add-job/0"></a>
    </ion-nav-buttons>
    
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        
        <div class="padding unsnow-note" ng-show="result.length == 0" style="text-align: center">
            You don't have any saved job.
        </div>
        
        <div class="list card unsnow-job-item" ng-repeat="job in result">
                    
            <div class="item item-divider">
                <div class="row">
                    <div class="col job-id">{{job.attributes.job_name}}</div>
                </div>
            </div>
            <div class="item">

                <div class="row border-seperator">
                    <div class="col col-75">

                        <div class="row">
                            <div class="col" ng-class="{'job-item-selected': job.attributes.drive_way, 'job-item-unselected': job.attributes.drive_way == false}">Driveway</div>
                            <div class="col" ng-class="{'job-item-selected': job.attributes.steps, 'job-item-unselected': job.attributes.steps == false}">Steps</div>
                        </div>
                        <div class="row">
                            <div class="col" ng-class="{'job-item-selected': job.attributes.walk_way, 'job-item-unselected': job.attributes.walk_way == false}">Walkway</div>
                            <div class="col" ng-class="{'job-item-selected': job.attributes.car, 'job-item-unselected': job.attributes.car == false}">Cars</div>
                        </div>
                        <div class="row">
                            <div class="col" ng-class="{'job-item-selected': job.attributes.side_walk, 'job-item-unselected': job.attributes.side_walk == false}">Sidewalk</div>
                        </div>

                    </div>
                    <div class="col amount-col">
                        <div class="amount">${{job.attributes.job_budget}}</div>
<!--                        <div class="job-status">{{job.attributes.job_status}}</div>-->
                    </div>
                </div>

                <div class="row border-seperator" ng-show="showAwarded(job)">
                    <div class="col job-status" style="padding-top: 15px; padding-bottom: 10px">
                        <span style="color: #4083b6">Awarded To : </span>{{job.attributes.winner_id.attributes.first_name}} {{job.attributes.winner_id.attributes.last_name}}
                        <br/>
                        <span style="color: #4083b6">Awarded Date : </span>{{job.attributes.updatedAt | date:'MMMM  dd, yyyy hh:mm a'}}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a class="button button-block button-dark" href="#/app/add-job/{{job.id}}">
                            <i class="icon ion-edit"></i>
                            Load
                        </a>
                    </div>
                    <div class="col colbtn">
                        <a class="button button-block button-positive" ng-click="deleteJob(job)">
                            <i class="icon ion-trash-a"></i>
                            Delete
                        </a>
                    </div>
                </div>

            </div>

        </div>
        

    </ion-content>


  </ion-view>