<ion-view view-title="<div class='unsnow-title'>unSnow.me<img src='img/header_logo.png' class='img'></div>">
    
    
    <ion-nav-bar class="bar-dark">
      	<ion-nav-back-button>
      	</ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-header-bar class="bar bar-stable bar-subheader">
        <h1 class="title">Signup</h1>
    </ion-header-bar>   
    
    <ion-content>
        
        <form name="registrationForm" novalidate="" ng-submit="signUpUser(registrationForm)"> 
            <div id="register" class="list unsnow-subheader-space">

                <label class="item item-input" ng-class="{ 'has-errors' : registrationForm.firstName.$invalid && registrationForm.$submitted, 'no-errors' : registrationForm.firstName.$valid}">
                    <input type="text" name="firstName" placeholder="* First Name" ng-model="user.firstName" ng-required="true">
                </label>
                
                <label class="item item-input" ng-class="{ 'has-errors' : registrationForm.lastName.$invalid && registrationForm.$submitted, 'no-errors' : registrationForm.lastName.$valid}">
                    <input type="text" name="lastName" placeholder="* Last Name" ng-model="user.lastName" ng-required="true">
                </label>
                
                <label class="item item-input" ng-class="{ 'has-errors' : registrationForm.zipCode.$invalid && registrationForm.$submitted, 'no-errors' : registrationForm.zipCode.$valid}">
                    <input type="text" name="zipCode" placeholder="* Zip Code" ng-model="user.zipCode" ng-required="true">
                </label>

                <label class="item item-input" ng-class="{ 'has-errors' : registrationForm.email.$invalid && registrationForm.$submitted, 'no-errors' : registrationForm.email.$valid}">
                    <input type="email" name="email" placeholder="* Email" ng-model="user.email" ng-required="true">
                </label>

                <label class="item item-input" ng-class="{ 'has-errors' : registrationForm.password.$invalid && registrationForm.$submitted, 'no-errors' : registrationForm.password.$valid}">
                    <input type="password" name="password" placeholder="* Password (minimum 8 characters)" ng-model="user.password" ng-required="true" ng-minlength="8">
                </label>
                
                <label class="item item-input" ng-class="{ 'has-errors' : registrationForm.confirmPassword.$invalid && registrationForm.$submitted, 'no-errors' : registrationForm.confirmPassword.$valid}">
                    <input type="password" name="confirmPassword" placeholder="* Confirm Password (minimum 8 characters)" ng-model="user.confirmPassword" ng-required="true" ng-minlength="8">
                </label>

                <label class="item item-input item-select" ng-class="{ 'has-errors' : registrationForm.accountType.$invalid && registrationForm.$submitted, 'no-errors' : registrationForm.accountType.$valid}">
                    <div class="input-label">
                        * Account Type
                    </div>
                    <select ng-model="user.accountType" name="accountType" ng-required="true">
                        <option value="">Select</option>
                        <option value="post">Post Job</option>
                        <option value="bid">Bid on Jobs</option>
                    </select>
                </label>

                <!--<li class="item item-toggle">
                    Post a snow removal job
                    <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="user.post">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-toggle">
                    Bid on snow removal work
                    <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="user.bid">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>-->

                <li class="item item-checkbox" style="font-family: 'Montserrat-Light'" ng-class="{ 'has-errors-last' : registrationForm.terms.$invalid && registrationForm.$submitted, 'no-errors' : registrationForm.terms.$valid}">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="user.terms" name="terms" ng-required="true">
                    </label>
                    I agree to unSnow.me <a href="#" stop-event ng-click="openTermsAndConditions()">Terms and Conditions.</a>
                </li>

            </div>
            
            <div class="padding">
                <button class="button button-block button-dark" type="submit">
                    Signup
                </button>
            </div>
        </form>
        
        

    </ion-content>


  </ion-view>