<ion-view view-title="<div class='unsnow-title'>unSnow.me<img src='img/header_logo.png' class='img'></div>">
    
    <ion-header-bar class="bar bar-stable bar-subheader">
        <h1 class="title">Support</h1>
    </ion-header-bar>
    
    <ion-content scroll="false">
        
        <div class="list unsnow-subheader-space">
            <span class="item unsnow-note" style="white-space: inherit; color: #4083b6 !important; font-weight: bold">
                
                Please click <a href="#" onclick="window.open('http://support.unsnow.me', '_system', 'location=yes'); return false;">here</a> to browse our FAQs or if you would like to Open a Support Ticket please email support@unsnow.me
                
            </span>
        </div>
        
<!--
        <div class="padding" style="padding-top: 20px;">
            Please click <a href="#" onclick="window.open('http://support.unsnow.me', '_system', 'location=yes'); return false;">http://support.unsnow.me</a> for FAQs or Open a Support Ticket
        </div>
-->

    </ion-content>


  </ion-view>