<ion-view view-title="<div class='unsnow-title'>unSnow.me<img src='img/header_logo.png' class='img'></div>">
    <ion-header-bar class="bar bar-stable bar-subheader">
        <h1 class="title">
            <img src='img/manage_job_header_icon.png' class='img'>
            Manage Your Jobs
        </h1>
    </ion-header-bar>
    
    <ion-content scroll="false">
        
        <div class="unsnow-content-container unsnow-subheader-space manage-my-jobs">
            <div class="padding top-container">
                <img src='img/manage_jobs_icon.png' class="img">
                <div class="headline1">Welcome back!</div>
                <div class="headline2">Here you can post new jobs</div>
                <div class="headline2">and manage your existing jobs</div>
            </div>

            <div class="padding bottom-buttons">
                <div class="btn-container">
                    <a class="button button-block button-positive" href="#/app/add-job-main">
                        <img src='img/add_job_icon.png' class='unsnow-btn-icon'>
                        Add Job
                    </a>
                </div>
                <div class="btn-container">
                    <a class="button button-block button-dark" href="#/app/my-jobs">
                        <img src='img/my_jobs_icon.png' class='unsnow-btn-icon'>
                        My Jobs
                    </a>
                </div>
            </div>
        </div>
        

    </ion-content>


  </ion-view>